<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href = "../../cssjs/mypage.css" rel = "stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title>Document</title>
</head>
<body>
      <div class="container">
            <div id="logo"><h1 class="logo">hulu</h1>
      </div>
            <div class="leftbox">
              <nav>
                <a id="profile" class="active"><i class="fa fa-user"></i></a>
                <a id="payment"><i class="fa fa-credit-card"></i></a>
                <a id="subscription"><i class="fa fa-tv"></i></a>
                <a id="privacy"><i class="fa fa-tasks"></i></a>
                <a id="settings"><i class="fa fa-cog"></i></a>
              </nav>
            </div>
            <div class="rightbox">
              <div class="profile">
                <h1>Personal Info</h1>
                <h2>English Name</h2>
                <p><input type="text" name="e_name" value="<%= e_name %>"> <button class="btn">update</button></p>
                <h2>Korean Name</h2>
                <p><input type="text" name="k_name" value="<%= k_name %>"> <button class="btn">update</button></p>
                <h2>User Name</h2>
                <p><input type="text" name="username" value="<%= username %>"> <button class="btn">update</button></p>
                <h2>Email</h2>
                <p><input type="text" name="age" value="<%= email %>"> <button class="btn">update</button></p>
                <h2>Age</h2>
                <p>
                    <select name='age' id='age'>
                        <option value="0s">
                          1 ~ 10
                        </option>
                        <option value="10s">
                          10 ~ 19
                        </option>
                        <option value="20s">
                          20 ~ 29
                        </option>
                        <option value="30s">
                          30 ~ 39
                        </option>
                        <option value="40s">
                          40 ~ 49
                        </option>
                        <option value="50s">
                          50 ~ 59
                        </option>
                        <option value="60s">
                          60 ~ 69
                        </option>
                        <option value="70over">
                          70 ~
                        </option>
                        </select>
                        <button class="btn">update</button>
                </p>
                <h2>Gender</h2>
                <p>                
                    <select id="gender" name="gender">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="Etc">Etc</option>
                    </select> <button class="btn">update</button></p>
                <h2>Place</h2>
              
                <p>
                  <select id="place" name="place">
                  <option value="Jongno-gu">
                    Jongno-gu 종로구</option>
                  <option value="Jung-gu">Jung-gu 중구</option>
                  <option value="Yongsan-gu">
                    Yongsan-gu 용산구</option>
                  <option value="Seongdong-gu">
                    Seongdong-gu 성동구</option>
                  <option value="Gwangjin-gu">
                    Gwangjin-gu 광진구</option>
                  <option value="Dongdaemun-gu">
                    Dongdaemun-gu 동대문구</option>
                  <option value="Jungnang-gu">Jungnang-gu 중랑구</option>
                  <option value="Seongbuk-gu">
                    Seongbuk-gu 성북구</option>
                  <option value="Gangbuk-gu">Gangbuk-gu 강북구</option>
                  <option value="Dobong-gu">Dobong-gu 도봉구</option>
                  <option value="Nowon-gu">
                    Nowon-gu 노원구</option>
                  <option value="Eunpyeong-gu">
                    Eunpyeong-gu 은평구</option>
                  <option value="Seodaemun-gu">Seodaemun-gu 서대문구</option>
                  <option value="Mapo-gu">Mapo-gu 마포구</option>
                  <option value="Yangcheon-gu">Yangcheon-gu 양천구</option>
                  <option value="Gangseo-gu">
                    Gangseo-gu 강서구</option>
                  <option value="Guro-gu">
                    Guro-gu 구로구</option>
                  <option value="Geumcheon-gu">
                    Geumcheon-gu 금천구</option>
                  <option value="Yeongdeungpo-gu">
                    Yeongdeungpo-gu 영등포구</option>
                  <option value="Dongjak-gu">
                    Dongjak-gu 동작구</option>
                  <option value="Gwanak-gu">
                    Gwanak-gu 관악구</option>
                  <option value="Seocho-gu">
                    Seocho-gu 서초구</option>
                  <option value="Gangnam-gu">
                    Gangnam-gu 강남구</option>
                  <option value="Songpa-gu">
                    Songpa-gu 송파구</option>
                  <option value="Gangdong-gu">Gangdong-gu 강동구</option>
                </select> <button class="btn">update</button></p>
                <h2>Genre</h2>
                <p>
                  <select id="genre1" class="genre" name="genre">
                      <option value="K_Pop">K_Pop</option>
                      <option value="Hip_Hop">Hip_Hop</option>
                      <option value="Girlish">Girlish</option>
                      <option value="Girls_HipHop">Girls_HipHop</option>
                      <option value="Girls_HipHop">Girls_HipHop</option>
                      <option value="Poppin">Poppin</option>
                      <option value="Locking">Locking</option>
                      <option value="House">House</option>
                      <option value="Breaking">Breaking</option>
                      <option value="Ballet">Ballet</option>
                      <option value="Korea_Dance">Korea_Dance(한국무용)</option>
                      <option value="Modern_Dance">Modern_Dance(현대무용)</option>
                      <option value="Choreography">Choreography</option>
                      <option value="Salsa">Salsa</option>
                      <option value="Dance_Sports">Dance_Sports</option>
                      <option value="Etc">Etc( 그외 )</option>
                </select>
                <select id="genre2" class="genre" name="genre">
                    <option value="K_Pop">K_Pop</option>
                    <option value="Hip_Hop">Hip_Hop</option>
                    <option value="Girlish">Girlish</option>
                    <option value="Girls_HipHop">Girls_HipHop</option>
                    <option value="Girls_HipHop">Girls_HipHop</option>
                    <option value="Poppin">Poppin</option>
                    <option value="Locking">Locking</option>
                    <option value="House">House</option>
                    <option value="Breaking">Breaking</option>
                    <option value="Ballet">Ballet</option>
                    <option value="Korea_Dance">Korea_Dance(한국무용)</option>
                    <option value="Modern_Dance">Modern_Dance(현대무용)</option>
                    <option value="Choreography">Choreography</option>
                    <option value="Salsa">Salsa</option>
                    <option value="Dance_Sports">Dance_Sports</option>
                    <option value="Etc">Etc( 그외 )</option>
              </select>
              <select id="genre3" class="genre" name="genre">
                  <option value="K_Pop">K_Pop</option>
                  <option value="Hip_Hop">Hip_Hop</option>
                  <option value="Girlish">Girlish</option>
                  <option value="Girls_HipHop">Girls_HipHop</option>
                  <option value="Girls_HipHop">Girls_HipHop</option>
                  <option value="Poppin">Poppin</option>
                  <option value="Locking">Locking</option>
                  <option value="House">House</option>
                  <option value="Breaking">Breaking</option>
                  <option value="Ballet">Ballet</option>
                  <option value="Korea_Dance">Korea_Dance(한국무용)</option>
                  <option value="Modern_Dance">Modern_Dance(현대무용)</option>
                  <option value="Choreography">Choreography</option>
                  <option value="Salsa">Salsa</option>
                  <option value="Dance_Sports">Dance_Sports</option>
                  <option value="Etc">Etc( 그외 )</option>
            </select>
                <button class="btn">update</button></p>
              </div>
              
              <div class="payment noshow">
                <h1>Payment Info</h1>
                <h2>Payment Method</h2>
                <p>Mastercard •••• •••• •••• 0000 <button class="btn">update</button></p>
                <h2>Billing Address</h2>
                <p>1234 Example Ave | Seattle, WA <button class="btn">change</button></p>
                <h2>Zipcode</h2>
                <p>999000</p>
                <h2>Billing History</h2>
                <p>2018<button class="btn">view</button></p>
                <h2>Redeem Gift Subscription </h2>
                <p><input type="text" placeholder="Enter Gift Code" /> <button class="btn">Redeem</button></p>
              </div>
          
              <div class="subscription noshow">
                <h1>Your Subscription</h1>
                <h2>Payment Date</h2>
                <p>05-15-2018 <button class="btn">pay now</button></p>
                <h2>Your Next Charge</h2>
                <p>$8.48<span> includes tax</span></p>
                <h2>Hulu Base Plan</h2>
                <p>Limited Commercials <button class="btn">change plan</button></p>
                <h2>Add-ons</h2>
                <p>None <button class="btn">manage</button></p>
                <h2>Monthly Recurring Total </h2>
                <p>$7.99/month</p>
              </div>
          
              <div class="privacy noshow">
                <h1>Privacy Settings</h1>
                <h2>Manage Email Notifications<button class="btn">manage</button></h2>
                <p></p>
                <h2>Manage Privacy Settings<button class="btn">manage</button></h2>
                <p></p>
                <h2>View Terms of Use <button class="btn">view</button></h2>
                <p></p>
                <h2>Personalize Ad Experience <button class="btn">update</button></h2>
                <p></p>
                <h2>Protect Your Account <button class="btn">protect</button></h2>
                <p></p>
              </div>
           <div class="settings noshow">
                <h1>Account Settings</h1>
                <h2>Sync Watchlist to My Stuff<button class="btn">sync</button></h2>
                <p></p>
                <h2>Hold Your Subscription<button class="btn">hold</button></h2>
                <p></p>
                <h2>Cancel Your Subscription <button class="btn">cancel</button></h2>
                <p></p>
                <h2>Your Devices <button class="btn">Manage Devices</button></h2>
                <p></p>
                <h2>Referrals <button class="btn">get $10</button></h2>
             <p></p>
              </div>
              
            </div>
          </div>
          <script>
            
                  var gender = "<%= gender %>";
                  document.body.querySelector('#gender').value=gender;
                  var genres_gui = document.body.querySelectorAll('.genre');
                  var genres_data = <%- JSON.stringify(genre) %>;
                  
          
          </script>
          <script src="../../cssjs/mypage/mypage.js"></script> 
</body>
</html>

  