<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "../../cssjs/mypage/myMainpage.css" rel = "stylesheet"/>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
    <title>MyMainPage</title>
</head>

<body>
    <header id = "header1">
        <nav>
            <a class = "main" href="/main">
                <h2>같이추장께</h2>
              </a>
            <h2>Search</h2>
            <ul>
                <li>a</li>
                <li>b</li>
                <li>c</li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div class = "Infos">
            <div class="Info__image">
                <img style=" border: 3px solid lightgray; border-radius: 50%;""  width = "100%" height = "100%" src="<%= profile_img %>">
            </div>
            <div class="Info__content">
                <div class="main__content">
                    <div class = "main__content name">
                        <%= e_name %>
                    </div>
                    <div class = "main__content profile">
                        <a href="/api/users/mypage">
                            <span >Profile Edit</span>
                            <i class="fas fa-user-cog icon-3x"></i>
                          </a>
                    </div>
                </div>
                <div class="profile__content">
                    <div class = "profile__content video">
                        <span class="title">Video</span>
                        <span class="num">5</span>
                    </div>
                    <div class = "profile__content friends">
                        <span class="title">Board</span>
                        <span class="num">5</span>
                    </div>
                    <div class = "profile__content board">
                        <span class="title">Friend</span>
                        <span class="num">5</span>
                    </div>
                </div>
                <div class="personal__content">
                    <span>Korean name : <%= k_name %></span>
                    <span>Place : <%= place %></span>
                    <span>Kakaotalk : <%= Kakaotalk %></span>
                    <span>Instagram : <%= Instagram %></span>
                </div>
            </div>
        </div>

        <ul id ="nav-tab" class="Nav">
            <li class = "active"><a  href = "#Videos">Video</a></li>
            <li><a href = "#mboard">Mi Board</a></li>
            <li><a href = "#tboard">Tu Board</a></li>
        </ul>

        <div class = "tab-content">

            <div class = "tab-pane active" id = "Videos">
                <% for ( var i = 0; i < profile_videos.length; i++){ %>
                    <div class = "video">
                        <video width ="100%" height = "100%" controls muted src = <%=profile_videos[i] %> > 
                        </video>
                    </div>
                  <% } %>
            </div>

            <div class = "tab-pane" id = "mboard">
                <span>Mi board</span>
            </div>

            <div class = "tab-pane" id = "tboard">
                <span>Tu board</span>
            </div>

        </div>

        <div class="modal hidden">
            <div class="modal__overlay"></div>
            <div class="modal__content">
                <form class = "form" enctype = "multipart/form-data" method = 'POST' action = "/api/users/mySpace" id = 'upload_form'>
                    <h3>Upload Your Video</h3>
                    <label for="inpFile">Choose Video
                        <input type="file" value = "Choose your Video" specllcheck = 'false' name = "video" id = "inpFile" accept ="video/mp4" />
                    </label>
                    <div class="image-preview" id ="image-preview">
                        <img src="" alt="Video preview" class="image-preview__image">
                        <br/>
                        <span class="image-preview__default-text">Video Preview</span>
                    </div>
                    <div class="video-preview">
                        <video id="video-element" controls autoplay muted>
                            <source type="video/mp4">
                        </video>
                    </div>
                    <button type="submit" id="submit-btn" class='btn-deactive'>Submit
                    </button>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <button id = "open">+_+</button>
    </footer>

    <script src="../../cssjs/mypage/mySpace.js"></script> 

</body>

</html>