<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "../../cssjs/mypage/myMainpage.css" rel = "stylesheet"/>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
    <title>MyMainPage</title>
</head>

<body>
    <header id = "header1">
        <nav>
            <a class = "main" href="/main">
                <h2>같이추장께</h2>
              </a>
            <h2>Search</h2>
            <ul>
                <li>a</li>
                <li>b</li>
                <li>c</li>
            </ul>
        </nav>
    </header>
    
    <main>

        <div class = "Infos">

            <div class="Info__image">
                <img style=" border: 3px solid lightgray; border-radius: 50%;""  width = "100%" height = "100%" src="<%= profile_img %>">
            </div>

            <div class="Info__content">
                <div class="main__content">
                    <div class = "main__content name">
                        <%= e_name %>
                    </div>
                    <div class = "main__content profile">
                        <a href="/api/users/mypage">
                            <span >Profile Edit</span>
                            <i class="fas fa-user-cog icon-3x"></i>
                          </a>
                    </div>
                </div>
                <div class="profile__content">
                    <div class = "profile__content video">
                        <span class="title">Video</span>
                        <span class="num">5</span>
                    </div>
                    <div class = "profile__content friends">
                        <span class="title">Board</span>
                        <span class="num">5</span>
                    </div>
                    <div class = "profile__content board">
                        <span class="title">Friend</span>
                        <span class="num">5</span>
                    </div>
                </div>

                <div class="personal__content">
                    <span>Korean name : <%= k_name %></span>
                    <span>Place : <%= place %></span>
                    <span>Kakaotalk : <%= Kakaotalk %></span>
                    <span>Instagram : <%= Instagram %></span>
                </div>
            </div>

        </div>

        <ul id ="nav-tab" class="Nav">
            <li class = "active"><a  href = "#Videos">Video</a></li>
            <li><a href = "#mboard">Mi Board</a></li>
            <li><a href = "#tboard">Tu Board</a></li>
        </ul>

        <div class = "tab-content">
            <div class = "tab-pane active" id = "Videos">
                <% for ( var i = 0; i < profile__info.length; i++){ %>
                    <div id = "video<%= i%>" class = "video">
                        <video  controls muted src = <%= profile__info[i].profile_videos %> > 
                        </video>
                        <div class="video__text">
                            <span> <%= profile__info[i].profile_videos_text %></span>
                        </div>
                        <div class="video__btn">
                            <span>
                                <span class="Edit" >Edit</span>
                            </span>
                            <span>
                                <a class="Delete" href = "/api/users/mySpace/delete/<%= _id %>?Num=<%=profile__info.length-1 %> ">Delete</a>
                            </span>
                        </div>
                    </div>
                  <% } %>
            </div>

            <div class = "tab-pane" id = "mboard">
                <div id="cards-container">
                </div>
            </div>

            <div class = "tab-pane" id = "tboard">
                <span>Tu board</span>
            </div>
            
        </div>

        <div class="modal hidden">
            <div class="modal__overlay"></div>
            <div class="modal__content">
                <form class = "form" enctype = "multipart/form-data" method = 'POST' action = "/api/users/mySpace" id = 'upload_form'>
                    <h3>Upload Your Video</h3>
                    <label for="inpFile">
                        Choose Video
                        <input type="file" value = "Choose your Video" specllcheck = 'false' name = "video" id = "inpFile" accept ="video/mp4" />
                    </label>
                    <div class="image-preview" id ="image-preview">
                        <img src="" alt="Video preview" class="image-preview__image">
                        <br/>
                        <span class="image-preview__default-text">Video Preview
                        </span>
                    </div>
                    <div class="video-preview">
                        <video id="video-element" controls autoplay muted>
                            <source type="video/mp4">
                        </video>
                    </div>
                    <div class="video-text">
                        <input type="text" value = "Describe Your Video" name = "profile_videos_text" id = "inpText"/>
                    </div>
                    <div class="video-num">
                        <input type="number" value = "<%= profile__info.length %>"  name = "profile_videos_num" id = "inpNum"/>
                    </div>
                    <button type="submit" id="submit-btn" class='btn-deactive'>Submit
                    </button>
                </form>
            </div>
        </div>
    </main>

    
    <div id ="card-copy" class="card-container">
        <div id="card">
        <div id="card-title"></div>
            <div class="sub-container">
            <div class="video">
            </div>
            <div id="card-place-time" class='card-info'></div>
            <div id="card-people" class='card-info'></div>
            </div>
        </div>
      <div class="open-update"><div class="card-button btn-update">수정하기</div><div class="card-button btn-delete">삭제하기</div>
    </div>
</div>

    <div class="modalcontainer">
    </div>
    <div id="modal" class="delete-modal modal-hide">
        <div class="modal-header">정말 삭제할거에요? ㅠㅠ</div>
        <div class="modal-main">
          <button id='del-yes'>Yes?</button>
          <button id='del-no'>No?</button>
        </div>
    </div>

    <footer>
        <button id = "open">+_+</button>
    </footer>

    <script src="../../cssjs/mypage/mySpace.js"></script>
    <script type = "text/javascript">

        var Edit_Btn = document.getElementsByClassName('Edit')


        <% for ( var i = 0; i < profile__info.length; i++){ %>

            
            Edit_Btn["<%= i %>"].addEventListener('click', function(){
                var Edit_Video = document.getElementById("video<%= i %>")
                
                console.log(Edit_Video)
                console.log("click")

                const form = {

                    _id : "<%= _id %>" , 
                    Link : Edit_Video.querySelector('video').src ,
                    Text : Edit_Video.querySelector(".video__text").querySelector('span').innerHTML ,
                    Num  : <%= i %> 

                    }

                    console.log(form.Link)

                    var xhr = new XMLHttpRequest();

                    var requestData = `${form._id}?Link=${form.Link}&Text=${form.Text}&Num=${form.Num}`
                    console.log(requestData)

                    xhr.onload = () => {
                    // if( xhr.status == 200)
                    //     console.log("Good response")
                    //     location.href = '/api/users/mySpace'

                    }

                    xhr.open('GET',`/api/users/mySpace/edit/${requestData}`, true)
                    xhr.setRequestHeader('Content-type' , 'application/x-www-form-urlencoded')
                    xhr.send(requestData)
                    location.href = `/api/users/mySpace/edit/${requestData}`

                    // event.preventDefault()
                    return ;

                }, false)
                      <% } %>    
                      
                console.log()

    </script> 

</body>

</html>